<div class="container">
    <h1>Doctors</h1>

    <h3>Registered Doctors</h3>

    <div class="cardArea">
        <div class="cards" *ngFor="let doctor of doctors">
            <div class="card">
                <div class="infos">

                    <div class="left">
                        <div class="image"> <img src="../../../assets/image/elonmusk.jpg" alt=""></div>
                        <p class="function"><span>Experience<br></span>{{ doctor.date | experience }} years</p>

                    </div>
                    <div class="right">
                        <p class="name">Dr. {{ doctor.full_name }}</p>
                        <div class="doctors">
                            <span class="item" *ngFor="let degree of doctor.degree"> {{ degree }}
                            </span>
                        </div>
                        <div class="time">
                            <p class="next-slot">Nest Slot: 11:00 AM</p>
                        </div>

                        <div class="fees">
                            <p>Fees</p>
                            <p class="function">₹ {{ doctor.online_fees }} <span>Online Consult</span></p>
                            <p class="function">₹ {{ doctor.offline_fees }} <span>In-Person Consult</span></p>
                        </div>
                    </div>
                </div>
                <button (click)="viewDoctor(doctor.id)">
                    Book Appointment
                    <div class="arrow-wrapper">
                        <div class="arrow"></div>
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div class="buttonArea">
        <button (click)="loadMore()">Load More</button>
        <button (click)="goToHome()">Go to home</button>
    </div>
</div>