.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.doctors {
    display: flex;
    list-style: none;
    padding: 0;
}


.doctors .item::before {
    content: ", ";
}

.doctors .item:first-child::before {
    display: none;
}

.cardArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.buttonArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    /* Set the width to 100% to expand horizontally */
}

.card {
    box-shadow: #111;
    background-color: #ffffff;
    margin: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}


.cards .card {

    height: auto;
    width: 450px;
    border-radius: 10px;
    color: rgb(1, 1, 1);
    cursor: pointer;
    transition: 400ms;
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
}

.infos {
    display: grid;
    grid-template-columns: 30% 70%;
}


.left .card .left .image {
    height: 5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid red;
}

.card .left img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


button {
    --primary-color: #226a26;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 7em 1em 7em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    margin: 10px;
}



button:hover {
    background-color: var(--hover-color);
}